*{
	margin: 2px;
	padding: 5px;
	box-sizing: border-box;
	background-color: lightblue;
}
.head {
margin-top: 20px;
margin-right: 20vw;
margin-left: 20vw;
text-align: center;
font-size: 20px;
background-color: #6f459e;
color: white;
border-radius:19px;
font-weight: bolder;
}
button{
background-color: rgb(39, 131, 201);
padding: 35px 50px;
border: none;
border-radius: 4px;
cursor:pointer;
display: inline-block;
width: 30%;
height: auto;
font-size: 15px;
color:white
}
button:hover { 
color:beige;
background-color:rgb(50, 50, 103);
box-shadow:0 0 1em 0.25em rgb(46, 46, 172),
0 0 4em 2em violet,
inset 0 0 0.75em 0.25em violet;
}